{% extends 'base.html' %}
{% block container %}

<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ departure|slice:'3:' }}</span></h1>
<p class="mb-4">Найдено <span data-test="tourcount">{{ tours_count }}</span> тура, от <span
        data-test="pricemin">{{ price|first }}</span>
    до <span data-test="pricemax">{{ price|last }}</span> и от <span data-test="nightsmax">{{ night|first }}</span>
                ночей до <span
        data-test="nightsmax">{{ night|last }}</span> ночей</p>
<!-- HERO -->

<!-- CARDS -->

<div class="row mt-5" data-test="cards">
    {% for key, tour in tours.items %}
    {% if tour.departure in request.path %}
    {% include 'card.html' %}
    {% endif %}
    {% endfor %}
    {% endblock %}
</div>